.is-active {
	display: block !important;
}
		
.section {
	@include background-size(cover);
	position: relative;
	width: 100%;
	background: {
		position: center;
	}
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.u-text-center {
	text-align: center;
}
