.c-logo {
	display: none;
	position: absolute;
	left: 50px; top: 0; z-index: 10;
	width: grid(300);
	
	@media screen and ( min-width: 1321px ) {
		left: 0;
	}

	@media screen and ( max-width: 768px ) {
		width: grid(300, 768);
	}
	
	@media screen and ( max-width: 480px ) {
		@include scut-center-transform(x);
		width: 240px;
	}
}